<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<title>heart_pred</title>
    
</head>
	<style>
    #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 125px;
      padding: 16px;
      bottom: 8px;
    }</style>
<body>
    <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: black;">
    <div class="container">

      <img style="width: 28px ; margin-right:11px" src="../static/Images related to the project/djj.png" />

      <a class="navbar-brand mr-4" href="/">Human Health Prognosis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="/cancer">Cancer</a>
          <a class="nav-item nav-link" href="/diabetes">Diabetes</a>
          <a class="nav-item nav-link" href="/heart">Heart</a>
          <a class="nav-item nav-link" href="/liver">Liver</a>
          <a class="nav-item nav-link" href="/kidney">Kidney</a>
           <a class="nav-item nav-link" href="/Malaria">Malaria</a>
           <a class="nav-item nav-link" href="/Pneumonia">Pneumonia</a>


        </div>
        <!-- Navbar Right Side
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>
        </div>-->
      </div>
    </div>
  </nav>
</header>
<div class="container",class="form-group">
        
    <h2>Know Your Chances Of Getting A Heart Disease In One Click!</h2>
    <br>
    <h3 button type="button" class="btn btn-warning">Enter the Following Parameters :</h3>
  <form action="/result" method="POST">
    

    <div style="display: flex;">
      <div>
    
    <input type="text" size="50" id="age" placeholder="Age" name="age">
    <br>

    
    <input type="text" size="50" id="sex" placeholder="Sex(1:Male,0:Female)" name="sex">
    <br>

    
    <input type="text" size="50" id="chest pain type" placeholder="Chest pain type" name="chest pain type">
    <br>

    
    <input type="text" size="50" id="trestbps" placeholder="Trestbps" name="trestbps">
    <br>

     
    <input type="text" size="50" id="serum cholestoral in mg/dl" placeholder="Serum cholestoral in mg/dl" name="serum cholestoral in mg/dl">
    <br>

    
    <input type="text" size="50" id="restecg" placeholder="Restecg" name="restecg">
    <br>

    
    <input type="text" size="50" id="thalach" placeholder="Thalach" name="thalach">
    <br>

    
    <input type="text" size="50" id="exang" placeholder="Exang" name="exang">
    <br>

    
    <input type="text" size="50" id="oldpeak" placeholder="Oldpeak" name="oldpeak">
    <br>

    
    <input type="text" size="50" id="slope" placeholder="Slope" name="slope">
    <br>

    
    <input type="text" size="50" id="thal" placeholder="Thal" name="thal">
    <br>
    <br>

    <input type="submit" class="btn btn-primary" value="Predict"><br><br>
    </div>
    <img src="../static/Images related to the project/heart.jpg" height="653px" style="    margin-left: 48px;
    padding-left: 70px;
    vertical-align: middle;
    border-style: none;
    padding-bottom: 142px;
    margin-top: -37px;" alt="">
    </div>

    
</form>


    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<footer id="main-footer">
      Copyright &copy; 2021
    </footer>
</body>
</html>
